<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/unverifiedEmail/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Heebo&display=swap" rel="stylesheet" />

    <title>Lama Wallet</title>
  </head>
  <body>
    <h1>Email is already verified!</h1>
    <section class="c-container">
      <div class="o-circle c-container__circle o-circle__sign--failure">
        <div class="o-circle__sign"></div>
      </div>
    </section>
  </body>
  <script src="/unverifiedEmail/index.js"></script>
</html>
